<center><h2>Blush on</h2></center><br><br>
<center><img src="/assets/images/blush1.jpg" width="25%"></center><br>
<center><font size = "3">TARTE<br>Amazonian Clay 12 Hour Blush<br>฿1,200.00</font></center><br><br>

<center><img src="/assets/images/blush2.jpg" width="25%"></center><br>
<center><font size = "3">HOURGLASS<br>Ambient Lighting Blush<br>฿1,550.00</font></center><br><br>

<center><img src="/assets/images/blush3.jpg" width="25%"></center><br>
<center><font size = "3">CLINIQUE<br>Cheek Pop<br>฿1,000.00</font></center><br><br>

<center><img src="/assets/images/blush4.jpg" width="25%"></center><br>
<center><font size = "3">TARTE<br>Hamptons Weekender Contour Palette<br>฿825.00</font></center><br><br>

<center><img src="/assets/images/blush5.jpg" width="25%"></center><br>
<center><font size = "3">BENEFIT COSMETICS<br>GALifornia<br>฿650.00</font></center><br><br>















