<center><h2>Eyeshadow</h2></center><br><br>
<center><img src="/assets/images/eye1.jpg" width="25%"></center><br>
<center><font size = "3">TARTE<br>Rainforest of the Sea™ Eyeshadow Palette vol. IV Sizzle<br>฿1,400.00</font></center><br><br>

<center><img src="/assets/images/eye2.jpg" width="25%"></center><br>
<center><font size = "3">ZOEVA<br>Caramel Melange Palette<br>฿600.00</font></center><br><br>

<center><img src="/assets/images/eye3.jpg" width="25%"></center><br>
<center><font size = "3">TARTE<br>Tartelette™ Flirt Eyeshadow Palette<br>฿825.00</font></center><br><br>

<center><img src="/assets/images/eye4.jpg" width="25%"></center><br>
<center><font size = "3">TOO FACED<br>White Peach Multi-Dimensional Eye Shadow Palette<br>฿1,850.00</font></center><br><br>

<center><img src="/assets/images/eye5.jpg" width="25%"></center><br>
<center><font size = "3">TARTE<br>Tartelette™ Toasted Eyeshadow Palette<br>฿1,700.00</font></center><br><br>










