<html>
<head>
    <title>BY BEAUTY</title>
    <link type="text/css" rel="stylesheet"
        href="/assets/stylesheets/bootstrap/css/bootstrap.css">
    <link href="../../public/stylesheets/bootstrap/css/bootstrap.css">
</head>
   <!-- <body bgcolor="#ffb6c1" text="#191970">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="background-color: black; color:white "><h1>BY BEAUTY</h1></div>
            </div>
            <div class="row">
                <div class="col-md-4" style="background-color: black"><h1>WELCOME</h1></div>
                <div class="col-md-4" style="background-color: palevioletred"><h1>TO</h1></div>
                <div class="col-md-4" style="background-color: hotpink"><h1>BY BEAUTY STORE</h1></div>
            </div>
        </div>

    </body>-->
    <center><h2>BY BEAUTY STORE</h2></center><br><br>

    <center><img src="/assets/images/main1.jpg" width="100%"></center><br>
    <!--<center><font size = "3">HOURGLASS<br>Ambient Lighting Blush<br>฿1,550.00</font></center><br><br>-->
</html>