<center><h2>Lipstick</h2></center><br><br>
    <center><img src="/assets/images/lip1.jpg" width="25%"></center><br>
    <center><font size = "3">MAC COSMETICS <br>Matte Lipstick<br>฿850.00</font></center><br><br>

<center><img src="/assets/images/lip2.jpg" width="25%"></center><br>
<center><font size = "3">SEPHORA COLLECTION<br>Cream Lip Stain<br>฿490.00</font></center><br><br>

<center><img src="/assets/images/lip3.jpg" width="25%"></center><br>
<center><font size = "3">STILA<br>Nouveau Nude Stay All Day® Liquid Lipstick Set<br>฿740.00</font></center><br><br>

<center><img src="/assets/images/lip4.jpg" width="25%"></center><br>
<center><font size = "3">TARTE<br>Rainforest of The Sea™ Color Splash Lipstick<br>฿920.00</font></center><br><br>

<center><img src="/assets/images/lip5.jpg" width="25%"></center><br>
<center><font size = "3">SEPHORA COLLECTION<br>#LIPSTORIES Lipstick<br>฿390.00</font></center><br><br>







