@(productList:List[Product])
<html>
    <head>
        <link rel="stylesheet" href="/assets/stysheets/bootstrap/css/bootstrap.css">
    </head>
    <body style="background-color: palevioletred">
       <h2 align="center">ข้อมูลสินค้า</h2>
        <div class="container" style="background-color: palevioletred">
            <div class="row">
                <div class="col-md-2" style="background-color: palevioletred"></div>
                <div class="col-md-8" style="background-color: #b9def0">
                    <table class="table table-success">
                        <tr>
                            <th>วันที่ผลิต</th>
                            <th>ประเภท</th>
                            <th>ชื่อสินค้า</th>
                            <th>รายละเอียด</th>
                            <th>ราคา</th>
                            <th>จำนวน</th>
                        </tr>
                        @for(pd <- productList){
                            <tr>
                                <td>@pd.getMfg()</td>
                                <td>@pd.getType</td>
                                <td>@pd.getName</td>
                                <td>@pd.getDetail</td>
                                <td>@pd.getPrice</td>
                                <td>@pd.getAmount</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-md-2" style="background-color: palevioletred"></div>
            </div>
        </div>
    </body>
</html>