@(pro1:Product,pro2:Product,pro3:Product,pro4:Product,pro5:Product,pro6:Product)
<br><br>
<center><h4>Products</h4>
<div class="row">
<div class="col-md-6">
    <img src="/assets/images/con1.jpg" width="25%"><br>
    ID : @pro1.getId()<br>
    Type : @pro1.getType()<br>
    Name : @pro1.getName()<br>
    Detail : @pro1.getDetail()<br>
    Price : @pro1.getPrice()<br>
    Amount : @pro1.getAmount()<br>
</div>
    <div class="col-md-6">
        <img src="/assets/images/lip1.jpg" width="25%"><br>
        ID : @pro2.getId()<br>
        Type : @pro2.getType()<br>
        Name : @pro2.getName()<br>
        Detail : @pro2.getDetail()<br>
        Price : @pro2.getPrice()<br>
        Amount : @pro2.getAmount()<br>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="/assets/images/eye1.jpg" width="25%"><br>
        ID : @pro3.getId()<br>
        Type : @pro3.getType()<br>
        Name : @pro3.getName()<br>
        Detail : @pro3.getDetail()<br>
        Price : @pro3.getPrice()<br>
        Amount : @pro3.getAmount()<br>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/eye2.jpg" width="25%"><br>
        ID : @pro4.getId()<br>
        Type : @pro4.getType()<br>
        Name : @pro4.getName()<br>
        Detail : @pro4.getDetail()<br>
        Price : @pro4.getPrice()<br>
        Amount : @pro4.getAmount()<br>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="/assets/images/blush2.jpg" width="25%"><br>
        ID : @pro5.getId()<br>
        Type : @pro5.getType()<br>
        Name : @pro5.getName()<br>
        Detail : @pro5.getDetail()<br>
        Price : @pro5.getPrice()<br>
        Amount : @pro5.getAmount()<br>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/lip2.jpg" width="25%"><br>
        ID : @pro6.getId()<br>
        Type : @pro6.getType()<br>
        Name : @pro6.getName()<br>
        Detail : @pro6.getDetail()<br>
        Price : @pro6.getPrice()<br>
        Amount : @pro6.getAmount()<br>
    </div>
</div></center>